<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Altay Sorbent</title>
	<meta name="description"
		content="Алтай Сорбент - 100% натуральный кремнесодержащий энтеросорбент с широким спектром действия">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
	<link rel="stylesheet" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="leading-normal tracking-normal text-white gradient">
	<!--Nav-->
	<nav id="header" class="fixed w-full z-30 top-0 text-white">
		<div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
			<div class="lg:pl-0 pl-2 flex items-center">
				<a class="text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="/">
					<img id="logo" src="/images/logo_white.png" />
				</a>
			</div>
			<div class="ml-0 lg:ml-6 toggleColour">
				<p>
					<a class="cursor-pointer" href="tel:+77051920262">
						<i class="fab fa-whatsapp" aria-hidden="true"></i>
						&nbsp; +7 705 192 02 62</a>
				</p>
			</div>

			<div class="block lg:hidden pr-4">
				<button id="nav-toggle"
					class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none">
					<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<title>Menu</title>
						<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
					</svg>
				</button>
			</div>

			<div
				class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
				id="nav-content">
				<ul class="list-reset lg:flex justify-end flex-1 items-center">
					<li class="mr-3">
						<a class="inline-block text-black no-underline hover:text-underline" href="#sorbent">Алтай Сорбент</a>
					</li>
					<li class="mr-3">
						<a class="inline-block text-black no-underline hover:text-underline" href="#specification">Описание</a>
					</li>
					<li class="mr-3">
						<a class="inline-block text-black no-underline hover:text-underline" href="#use">Приминение</a>
					</li>
					<li class="mr-3">
						<a class="inline-block text-black no-underline hover:text-underline" href="#certificates">Сертификация</a>
					</li>
					<li>
						<a class="inline-block text-black no-underline hover:text-underline" href="#contacts">Контакты</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<section id="sorbent">
		<!--Hero-->
		<div class="pt-20 pb-10">
			<div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
				<!--Left Col-->
				<div class="w-full md:w-2/5 text-center md:text-left">
					<h1 class="my-4 text-5xl font-bold leading-tight">Altay Sorbent - Стиль твоей жизни!</h1>
					<p class="leading-normal text-2xl mb-8">100% натуральный кремнесодержащий энтеросорбент с широким
						спектром действия, изготавливается из природного минерала монтмориллонита</p>
				</div>
				<!--Right Col-->
				<div class="w-full md:w-3/5 py-6 flex justify-end">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/vYluBzK-ddI" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		<div class="relative -mt-12 lg:-mt-24">
			<svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
						<path
							d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
							opacity="0.100000001"></path>
						<path
							d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
							opacity="0.100000001"></path>
						<path
							d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
							id="Path-4" opacity="0.200000003"></path>
					</g>
					<g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
						<path
							d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z">
						</path>
					</g>
				</g>
			</svg>
		</div>
	</section>

	<section class="bg-white border-b py-8" id="specification">
		<div class="container mx-auto m-1 lg:m-8">
			<div class="flex flex-wrap">
				<div class="w-full sm:w-2/3 p-6">
					<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
						Алтайсорбент – натуральный сорбент
					</h3>
					<p class="text-gray-700 text-xl mb-8 text-justify">Алтайсорбент – натуральный сорбент
						Из элитных бентонитовых глин (содержание минерала монтмориллонита не менее 95 - 98%) и создается
						биологически активная добавка – «Алтайсорбент».
						В процессе производства бентонитовые глины обрабатываются по специально
						разработанной и запатентованной технологии, что позволяет максимально сохранить
						их природные свойства. Не используются какие-либо добавки, ароматизаторы,
						красители и консерванты...
				</div>
				<div class="w-full sm:w-1/3 p-6 flex justify-center">
					<img src="https://i.ibb.co/WP0mWR3/naturs.png" class="mx-auto" style="height: 300px; width: auto;">
				</div>
			</div>
			<div class="flex flex-wrap flex-col-reverse sm:flex-row">
				<div class="w-full sm:w-1/3 p-6 align-middle">
					<img src="https://i.ibb.co/F7c5tFj/glina.png" class="mx-auto" style="height: 300px; width: auto;">
				</div>
				<div class="w-full sm:w-2/3 p-6 ">
					<div class="align-middle">
						<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
							Идеальный Сорбент
						</h3>
						<p class="text-gray-700 text-xl mb-2 lg:mb-8 text-black text-justify">
							«Алтайсорбент» не только очищает организм, но и регулирует баланс макро и микроэлементов.
							<br>
							Сорбент избирательно работает при употреблении внутрь. Он обволакивает слизистую оболочку желудка и
							активно выводит патогенные микроорганизмы, токсины, соли тяжелых металлов, радионуклиды, аллергены и
							другие раздражители.
							<br>
							При этом не поглощает белки, ферменты, витамины. Не страдает и полезная микрофлора кишечника, более того,
							сорбент способствует ее росту.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="use" class="bg-white border-b py-8">
		<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3 text-center">
			Применение
		</h3>
		<div class="container mx-auto px-2 pt-4 text-gray-700 text-xl text-justify">
			<p>
				«Алтайсорбент» применяют как эффективное профилактическое и вспомогательное средство при лечении заболеваний,
				сопровождающихся интоксикацией, в частности:
			</p>
			<ul class="list-disc lg:ml-10">
				<li>выведении из организма солей тяжелых металлов и радионуклидов,</li>
				<li>пищевых, химических, медикаментозных отравлениях,</li>
				<li>смягчении побочных эффектов лучевой и химиотерапии,</li>
				<li>снятии алкогольной интоксикации (похмелье)</li>
				<li>заболеваниях желудочно- кишечного такта (гастрит, язвенная болезнь желудка,
					дисбактериоз и др)</li>
				<li>метеоризме (вздутие живота), диспепсических недугах (рвота, изжога, отрыжка),</li>
				<li>аллергических заболеваниях (поллиноз, пищевая и лекарственная аллергии),</li>
				<li>артериосклерозах,</li>
				<li>заболеваниях кожного покрова (экзема, псориаз),</li>
				<li>нарушении обмена веществ, в том числе ожирении,</li>
				<li>токсикозе беременных,</li>
				<li>пародонтозе,</li>
				<li>лечении кожных опрелостей, пролежней, ран, ожогов и др.</li>
			</ul>
			<p>
				«Алтайорбент» зарегистрирован как биологически активная добавка. Не является лекарственным средством.
			</p>
		</div>
	</section>
	<section class="bg-white border-b py-8" id="certificates">
		<div class="container mx-auto flex flex-wrap pt-4 pb-12">
			<div class="w-full md:w-1/2 p-6 flex flex-col ">
				<div class="shadow py-4">
					<h4 class="font-bold text-xl text-gray-800 px-6 text-center">Алтай Сорбент №20</h4>
					<img class="block mx-auto my-2" src="https://i.ibb.co/B3LLKmh/sorbent.png" style="height:170px;">
					<p class="w-full text-gray-700 px-6 text-center">Спрашивайте в аптеках вашего города</p>
					<div class="flex items-center justify-center">
						<a href="https://docdro.id/R51Tlqp" target="_blank"
							class="block mx-auto lg:mx-0 underline text-green-700 font-bold cursor-pointer">Инструкция
							по применению</a>
					</div>
				</div>
			</div>
			<div class="w-full md:w-1/2 p-6 flex flex-col ">
				<div class="shadow py-4">
					<h4 class="w-full font-bold text-xl text-gray-800 px-6 text-center">Сертификаты</h4>
					<p class="text-gray-700 text-base px-6 mb-2 text-justify">
						Наши продукты соответствуют высоким стандартам. Ниже приведены документы для ознакомления с нашей компанией
						и продукцией
					</p>
					<div class="flex">
						<div class="w-1/4 px-3">
							<a class="cursor-pointer" href="https://i.ibb.co/gRw2NqW/eas.jpg" target="_blank">
								<img alt="Свидетельство о регистрации" src="https://i.ibb.co/gRw2NqW/eas.jpg"
									alt="Свидетельство о регистрации">
						</div>
						<div class="w-1/4 px-3">
							<a class="cursor-pointer" href="https://i.ibb.co/znttZSQ/1.jpg" target="_blank" rel="noopener noreferrer">
								<img src="https://i.ibb.co/znttZSQ/1.jpg" alt="Требование сертификации">
							</a>
						</div>
						<div class="w-1/4 px-3">
							<a class="cursor-pointer" href="https://i.ibb.co/CwWt2NN/222.jpg" target="_blank">
								<img alt="Протокол испытаний" src="https://i.ibb.co/CwWt2NN/222.jpg" alt="Протокол испытаний" />
							</a>
						</div>
						<div class="w-1/4 px-3">
							<a class="cursor-pointer" href="https://i.ibb.co/kxzLqRH/33.jpg" target="_blank"
								rel="noopener noreferrer">
								<img alt="Протокол испытаний" src="https://i.ibb.co/kxzLqRH/33.jpg" alt="Протокол испытаний">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-white py-8">
		<div class="container flex flex-wrap mx-auto px-2 pt-4 text-gray-700">
			<div class="w-2/3">
				<h3 class="w-full my-2 text-3xl font-bold leading-tight text-center text-gray-700">А знаете ли Вы?</h3>
				<p class="text-xl text-gray-700 leading-none mb-3 text-justify">Бентонитовые глины для сырья добывают на
					динозавровом месторождении в Восточно-Казахстанской Области.
					Своё название месторождение получило в
					связи с находкой большого количества остатков динозавровых яиц</p>
			</div>
			<div class="w-1/3 flex justify-center">
				<img src="https://image.flaticon.com/icons/png/512/145/145302.png" style="width:200px; height:150px;">
			</div>
		</div>
	</section>
	<a id="contacts"></a>
	<!-- Change the colour #f8fafc to match the previous section colour -->
	<svg class="wave-top" viewBox="0 0 1439 147" version="1.1" xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink">
		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
				<g class="wave" fill="#f8fafc">
					<path
						d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z">
					</path>
				</g>
				<g transform="translate(1.000000, 15.000000)" fill="#FFFFFF">
					<g transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) ">
						<path
							d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
							opacity="0.100000001"></path>
						<path
							d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
							opacity="0.100000001"></path>
						<path
							d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
							opacity="0.200000003"></path>
					</g>
				</g>
			</g>
		</g>
	</svg>

	<section class="py-6 mb-12">
		<div class="relative w-full h-full" style="height: 400px;width: 100%">
			<div id="map" style="width: 100%; height: 400px"></div>
			<div
				class="flex flex-col justify-center shadow inset-y-0 left-0 bg-white absolute py-6 px-4 lg:py-12 lg:px-8 text-black my-28 lg:my-24 ml-4 lg:ml-32">
				<img class="mx-auto mb-2" src="/images/logo_black.png" style="width: 75px;" />
				<h4 class="font-bold">ТОО "Арника"</h4>
				<p><i class="fas fa-map-marked-alt mr-2"></i> Михаэлиса 6</p>
				<p><i class="fas fa-phone-volume mr-2"></i> <a class="" href="tel:+77051920262">+7 705 192 02 62</a></p>
				<p><i class="fas fa-envelope mr-2"></i> <a href="mailto:sales@altaysorbent.org">sales@altaysorbent.org</a></p>
			</div>
		</div>
		<div class="container mx-auto">
			<div class="w-full pt-6 text-center">
				<p class="text-white">
					ТОО "АРНИКА" © 1994 - 2019<br>
					Республика Казахстан, г. Усть-Каменогорск
				</p>
			</div>
		</div>
	</section>

	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
	</script>
	<script src="/js/main.js"></script>
	<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
	(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	ym(54266673, "init", {
			 clickmap:true,
			 trackLinks:true,
			 accurateTrackBounce:true,
			 webvisor:true
	});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/54266673" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>